<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stella Maris Management</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        header {
            background-color: #333;
            color: white;
            padding: 10px 0;
            text-align: center;
        }

        .link-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: 50px;
        }

        .link-container a {
            background-color: #007BFF;
            color: white;
            padding: 15px 30px;
            text-decoration: none;
            font-size: 20px;
            border-radius: 5px;
            width: 200px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .link-container a:hover {
            background-color: #0056b3;
        }

        .link-container-school {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: 50px;
        }

        .link-container-school a {
            background-color: #b30009;
            color: white;
            padding: 15px 30px;
            text-decoration: none;
            font-size: 20px;
            border-radius: 5px;
            width: 200px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .link-container-school a:hover {
            background-color: #b30009;
        }
    </style>
</head>
<body>
    <header>
        <h1>空とも管理画面</h1>
    </header>
    <main>
        <div class="link-container">
            <a href="/management">タンデム顧客一覧</a>
            <a href="/today_flight">本日のタンデム</a>
            <a href="/line_message">LINEメッセージ送信</a>
        </div>
        <div class="link-container-school">
            <a href="/school_management">スクール生一覧</a>
            <a href="/activity_management">スクール活動一覧ページへ</a>
            <a href="/event">イベント作成ページへ</a>
            <a href="/events_all">イベント一覧ページへ</a>
        </div>
    </main>
</body>
</html>

